In [1]:
print 'This is a string'

This is a string

In [2]:
s = 'String'
print 'Place my variable here: %s' %(s)

Place my variable here: String

In [3]:
x = 132.2323

In [4]:
print 'This is also string: %s' %(x)

This is also string: 132.2323

In [7]:
print 'Floating point number %1.2f' %(x)

Floating point number 132.23

In [8]:
print 'Floating point number %.2f' %(x)

Floating point number 132.23

In [9]:
print 'Floating point number %.10f' %(x)

Floating point number 132.2323000000

In [11]:
print 'Floating point number %25.2f' %(x)

Floating point number                    132.23

In [12]:
print 'Convert to string %s' %(123)

Convert to string 123

In [13]:
print 'Convert to string %r' %(123)

Convert to string 123

In [14]:
print "First: %s, Second: %s, Third: %s" %('Hi', 'two', 3)

First: Hi, Second: two, Third: 3

In [15]:
print 'First: %s, Second: %s' %(2,2)

First: 2, Second: 2

In [16]:
print 'First: {x} Second {x}'.format(x='inserted')

First: inserted Second inserted

This is recommended:

In [17]:
print 'First: {x} Second :{y} Third: {x}'.format(x='inserted', y='two')

First: inserted Second :two Third: inserted

In [18]:
from __future__ import print_function

In [19]:
print ('hello')

hello

In [20]:
print 'hello'

SyntaxError: invalid syntax (<ipython-input-20-bfbe230352b8>, line 1)

In [22]:
print ('One: {x}'.format(x='INSERT!'))

One: INSERT!