In [1]:
l = [1,2,3,4,5]

In [2]:
l

[1, 2, 3, 4, 5]

In [3]:
for element in l:
    print element

1
2
3
4
5

In [12]:
for num in l:
    print 'something!'

something!
something!
something!
something!
something!

In [13]:
# MODULO

In [14]:
10 % 3

1

In [15]:
18 % 7

4

In [16]:
4 % 2

0

In [17]:
7 % 2

1

In [18]:
l

[1, 2, 3, 4, 5]

In [20]:
for num in l:
    if num % 2 == 1:
        print num

1
3
5

In [24]:
for num in l:
    if num % 2 == 0:
        print 'Even number:',num
    else:
        print "Odd number:",num

Odd number: 1
Even number: 2
Odd number: 3
Even number: 4
Odd number: 5

In [25]:
l

[1, 2, 3, 4, 5]

In [27]:
list_sum = 0

for num in l:
    list_sum += num

print list_sum

15

In [28]:
s = 'This is a string!'

In [30]:
for letter in s:
    print letter

T
h
i
s

i
s

a

s
t
r
i
n
g
!

In [32]:
tup = (1,2,3,4,5)

for item in tup:
    print item

1
2
3
4
5

In [33]:
l = [(2,4), (6,8), (10,12)]

In [34]:
l

[(2, 4), (6, 8), (10, 12)]

In [36]:
l[2][0]

10

In [38]:
for tup in l:
    print tup

(2, 4)
(6, 8)
(10, 12)

In [40]:
for (t1,t2) in l:
    print t1, t2
    print t1+t2

2 4
6
6 8
14
10 12
22

In [41]:
d = {'k1': 1, 'k2':2, 'k3':3}

In [42]:
d

{'k1': 1, 'k2': 2, 'k3': 3}

In [43]:
for item in d:
    print item

k3
k2
k1

In [44]:
for k,v in d.iteritems():
    print k
    print v

k3
3
k2
2
k1
1

In [46]:
from __future__ import unicode_literals

In [47]:
for k,v in d.items():
    print k
    print v

k3
3
k2
2
k1
1