# List Comprehensions

In [1]:
l = []

for letter in 'word':
    l.append(letter)
    
print l

['w', 'o', 'r', 'd']

In [6]:
lst = [letter for letter in 'word']

In [7]:
lst

['w', 'o', 'r', 'd']

x^2 for x in range (0,10)

In [8]:
lst = [x**2 for x in range(0,11)]

In [9]:
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [11]:
lst = [number for number in range(11) if number % 2 == 0]

In [13]:
lst

[0, 2, 4, 6, 8, 10]

In [14]:
lst = []
for number in range(11):
    if number %2 == 0:
        lst.append(number)

In [15]:
lst

[0, 2, 4, 6, 8, 10]

In [16]:
celsius = [0,10,20.1,34.5]

In [17]:
fahrenheit = [temp for temp in celsius]

In [18]:
fahrenheit

[0, 10, 20.1, 34.5]

In [19]:
fahrenheit = [ temp * (9/5.0) + 32 for temp in celsius]

In [20]:
fahrenheit

[32.0, 50.0, 68.18, 94.1]

In [21]:
lst = [x**2 for x in range(11)]

In [22]:
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [25]:
# Final result is x**4 for num in range(11)
lst = [ x**2 for x in [x**2 for x in range(11)]]

In [26]:
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]